In [58]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [2]:
energy_df = pd.read_csv("energydata_complete.csv")

In [3]:
energy_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Number 17

In [14]:
x = energy_df["T2"].to_numpy().reshape(-1, 1)
y = energy_df["T6"]

In [15]:
linear_model = LinearRegression()

In [16]:
linear_model.fit(x,y)

LinearRegression()

In [18]:
y_pred = linear_model.predict(x)

In [19]:
np.sqrt(mean_squared_error(y,y_pred))

3.6444644873484573

### Number 18

In [71]:
X = energy_df.drop(["date", "lights", "Appliances"], axis=1)
y = energy_df["Appliances"]

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [73]:
min_max = MinMaxScaler()

In [74]:
new_X_train = min_max.fit_transform(X_train)

In [75]:
new_X_test = min_max.transform(X_test)

In [76]:
linear_model2 = LinearRegression()

In [77]:
linear_model2.fit(new_X_train, y_train)

LinearRegression()

### Number 19

In [78]:
mean_absolute_error(y_train, linear_model2.predict(new_X_train))

53.742281074934525

### Number 20

In [79]:
np.sqrt(mean_squared_error(y_train, linear_model2.predict(new_X_train)))

95.21565985214606

### Number 21

In [80]:
mean_absolute_error(y_test, linear_model2.predict(new_X_test))

53.64297765584956

### Number 22

In [81]:
np.sqrt(mean_squared_error(y_test, linear_model2.predict(new_X_test)))

93.64046093998029

In [82]:
ridge_model = Ridge()

In [83]:
ridge_model.fit(new_X_train, y_train)

Ridge()

In [84]:
np.sqrt(mean_squared_error(y_test, ridge_model.predict(new_X_test)))

93.7087747764201

In [85]:
lasso_model = Lasso()

In [86]:
lasso_model.fit(new_X_train, y_train)

Lasso()

In [87]:
(lasso_model.coef_ != 0).sum()

4

In [88]:
np.sqrt(mean_squared_error(y_test, lasso_model.predict(new_X_test)))

99.42422892589771